@model CRM.Domain.Entities.Activity

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ActivityID" />
        <dt>
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityOwner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityOwner.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttendedAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttendedAccount.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttendedCustomer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttendedCustomer.Discriminator)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
