@model CRM.Domain.Entities.VisaApplication

@{
    ViewData["Title"] = "Visa Application Details";
}

@section SideBar {
    <li class="sidebar-info">
        <div class="panel panel-primary" style="margin:5px;">
            <div class="panel-heading">
                <span class="h4"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> Message</span>
            </div>
            <div class="panel-body">
                <div class="col-sm-12" style="margin-left:-10px;">
                    <h5><span>Student: <a href="/Students/Details/@Model.StudentID">@Model.Student.Name</a></span> </h5>
                    <hr style="margin: 10px 10px 10px -10px;">
                    <h5><span>Institute: <a href="/Accounts/Details/@Model.InstituteID">@Model.Institute.ShortName</a></span></h5>
                    <hr style="margin: 10px 10px 10px -10px;">
                </div>
                <vc:record-info created-by="@Model.CreatedBy" modified-by="@Model.ModifiedBy"
                                created-time="@Model.CreatedTime" modified-time="@Model.ModifiedTime">
                </vc:record-info>
            </div>
        </div>
    </li>
}


<div class="panel panel-info" style="margin:5px;">
    <div class="panel-heading">
        <form id="confirmForm" asp-action="Delete" asp-route-id="@Model.VisaApplicationID">
            <div class="btn-group pull-right">
                <a style="margin-left:10px;margin-right:10px;" class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.VisaApplicationID"><i class="fa fa-fw fa-pencil"></i>Edit</a>
                <a asp-action="Index" class="btn btn-sm btn-info"><i class="fa fa-fw fa-reply"></i>Back to List</a>
                <a id="deleteButton" href="#" onclick="deleteVisa()" class="btn btn-sm btn-danger" style="margin-left:10px;"><i class="fa fa-fw fa-remove"></i>Delete</a>
            </div>
            <p style="font-size:18px; margin-top:0px; margin-bottom:0px;">@ViewData["Title"]</p>
        </form>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 crm-style">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Student.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Student.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Student.PreferName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Student.PreferName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.VisaAppliedType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.VisaAppliedType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Student.ClientNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Student.ClientNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PassportNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PassportNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EamilInForm)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EamilInForm)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Institute)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Institute.Name)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6 crm-style">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.VisaType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.VisaType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PhysicalAddress)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhysicalAddress)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PostalAddress)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PostalAddress)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SubmittedDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SubmittedDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ReceivedDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ReceivedDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ExpiredDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExpiredDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Documents)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Documents)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Note)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#crm-visa").addClass('active');
        function deleteVisa() {
            if (confirm("Are you sure to delete the Visa Application?")) {
                $("#confirmForm").submit();
            }
        };
    </script>
}