@model CRM.Domain.Entities.VisaApplication

@{
    ViewData["Title"] = "Edit Visa Ap.";
    ViewData["Action"] = "Edit";
}

@section SideBar {
    <li class="sidebar-info">
        <div class="panel panel-primary" style="margin:5px;">
            <div class="panel-heading">
                <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> Message
            </div>
            <div class="panel-body">
                <div class="col-sm-12" style="margin-left:-10px;">
                    <h5><span>Student: <a href="/Students/Details/@Model.StudentID">@Model.Student.Name</a></span> </h5>
                    <hr style="margin: 10px 10px 10px -10px;">
                    <h5><span>Institute: <a href="/Accounts/Details/@Model.InstituteID">@Html.DisplayFor(model => model.Institute.ShortName)</a></span></h5>
                    <hr style="margin: 10px 10px 10px -10px;">
                </div>
                <vc:record-info created-by="@Model.CreatedBy" modified-by="@Model.ModifiedBy"
                                created-time="@Model.CreatedTime" modified-time="@Model.ModifiedTime">
                </vc:record-info>
            </div>
        </div>
    </li>
}

<div>
    @{await Html.RenderPartialAsync("_VisaPartial", Model, ViewData);}
</div>
@section Scripts
{
    <script>
        $("#crm-visa").addClass('active');
    </script>
    @Html.Raw(CRM.WebUI.ViewComponents.CodesListViewComponent.Register())
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
