@using CRM.Domain.Entities
@model CRM.Domain.Entities.Lead

@{
    ViewData["Title"] = "Lead Details";
    Activity activityDisplay = new Activity();
}

@section SideBar {
    <li class="sidebar-info">
        <div class="panel panel-primary" style="margin:5px;">
            <div class="panel-heading">
                <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> Message
            </div>
            <div class="panel-body">
                <div class="form-actions no-color">

                    <label>Open Activities:</label>
                    <br class="divider" />
                    <label>Closed Activities:</label>
                    <br class="divider" />
                    @{ string createdBy;  if (Model.CreatedBy == null) { createdBy = ""; } else { createdBy = Model.CreatedBy.UserName; } }
                    @{ string modifiedBy; if (Model.ModifiedBy == null) { modifiedBy = ""; } else { modifiedBy = Model.ModifiedBy.UserName; } }
                    <label>Created: </label>@Model.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss") [@createdBy]
                    <br class="divider" />
                    <label>Modified: </label>@Model.ModifiedTime.ToString("yyyy-MM-dd HH:mm:ss") [@modifiedBy]
                    <br class="divider" />
                </div>
            </div>
        </div>
    </li>
}

<div class="panel panel-info" style="margin-top:5px;">
    <div class="panel-heading">
        <form id="confirmForm" asp-action="Delete" asp-route-id="@Model.CustomerID">
            <div class="btn-group pull-right">
                <a style="margin-left:10px;margin-right:10px;" class="btn btn-success" asp-action="Edit" asp-route-id="@Model.CustomerID"><i class="fa fa-fw fa-pencil"></i>Edit</a>
                <a asp-action="Index" class="btn btn-info"><i class="fa fa-fw fa-reply"></i>Back to List</a>
                <a id="deleteButton" href="#" onclick="deleteLead()" class="btn btn-danger" style="margin-left:10px;"><i class="fa fa-fw fa-remove"></i>Delete</a>
            </div>
            <p style="font-size:21px; margin-top:0px; margin-bottom:0px;">Lead Details</p>
        </form>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="columns col-md-6 crm-style">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerOwner)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CustomerOwner.UserName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PreferName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PreferName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Birthdate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Birthdate)
                    </dd>
                    <dt>
                        Academic
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AcademicBackground)
                    </dd>
                </dl>
            </div>
            <div class="columns col-md-6 crm-style">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EMail)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EMail)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mobile)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Source)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Source)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Note)
                    </dd>
                </dl>
            </div>
        </div>
        </div>
    </div>

    <form asp-area="" asp-controller="Activities" asp-action="Create" method="post" id="toolForm">
        <span class="h4">Activities</span>&nbsp;&nbsp;
        <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> Create
        </button>
    </form>
    <table id="activityTable"></table>

    @section Scripts {
        <script>
            $("#crm-leads").addClass('active');
            function deleteLead() {
                if (confirm("Are you sure to delete the Lead? All activites will be deleted as well.")) {
                    $("#confirmForm").submit();
                }
            };

            $table = $("#activityTable");
            $table.bootstrapTable({
                url: "/api/activities/leads/@Model.CustomerID ",
                    height: 250,
                    clickToSelect: true,
                    sidePagination: 'client',
                    queryParamType: "",
                    pagination: true,
                    //toolbar: "#toolForm",
                    idField: "activityID",
                    columns: [{
                        field: 'state',
                        title: '',
                        radio: true,
                    }, {
                        field: 'customerID',
                        title: 'Customer ID',
                        visible: false
                    }, {
                        field: 'activityType',
                        title: '@Html.DisplayNameFor(model => activityDisplay.ActivityType)',
                        formatter: CRM.convertActivityType,
                    }, {
                        field: 'subject',
                        title: '@Html.DisplayNameFor(model => activityDisplay.Subject)',
                    }, {
                        field: 'activityOwner.userName',
                        title: 'Activity Owner',
                    }, {
                        field: 'startTime',
                        title: '@Html.DisplayNameFor(model => activityDisplay.StartTime)',
                        formatter: CRM.convertAccountType,
                    }, {
                        field: 'endTime',
                        title: '@Html.DisplayNameFor(model => activityDisplay.EndTime)',
                    },]
                });

        </script>

    }
