@model CRM.Domain.Entities.Application

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ApplicationID" />
        <dt>
            @Html.DisplayNameFor(model => model.Tuition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tuition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationAgent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationAgent.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Institute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Institute.Name)
        </dd>
        <dt>
            Student Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
