@model CRM.Domain.Entities.Account

@{
    ViewData["Title"] = "Account Details";
}
@section SideBar {
    <li class="sidebar-info">
        <div class="panel panel-primary" style="margin:5px;">
            <div class="panel-heading">
                <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> Message
            </div>
            <div class="panel-body">
                <div class="form-actions no-color">
                    <label>Open Activities:</label>
                    <br class="divider" />
                    <label>Closed Activities:</label>
                    <br class="divider" />
                    @{ string createdBy; if (Model.CreatedBy == null) { createdBy = ""; } else { createdBy = Model.CreatedBy.UserName; } }
                    @{ string modifiedBy; if (Model.ModifiedBy == null) { modifiedBy = ""; } else { modifiedBy = Model.ModifiedBy.UserName; } }
                    <label>Created: </label>@Model.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss") [@createdBy]
                    <br class="divider" />
                    <label>Modified: </label>@Model.ModifiedTime.ToString("yyyy-MM-dd HH:mm:ss") [@modifiedBy]
                    <br class="divider" />
                </div>
            </div>
        </div>
    </li>
}


    <div class="panel panel-info" style="margin:5px;">
        <div class="panel-heading">
            <form id="confirmForm" asp-action="Delete" asp-route-id="@Model.AccountID">
                <div class="btn-group pull-right">
                    <a style="margin-left:10px;margin-right:10px;" class="btn btn-success" asp-action="Edit" asp-route-id="@Model.AccountID"><i class="fa fa-fw fa-pencil"></i>Edit</a>
                    <a asp-action="Index" class="btn btn-info"><i class="fa fa-fw fa-reply"></i>Back to List</a>
                    <a id="deleteButton" href="#" onclick="deleteAccount()" class="btn btn-danger" style="margin-left:10px;"><i class="fa fa-fw fa-remove"></i>Delete</a>
                </div>
                <p style="font-size:21px; margin-top:0px; margin-bottom:0px;">Account Details</p>
            </form>
        </div>
        <div class="panel-body">
                <div class="row">
                    <div  class="columns col-md-6 crm-style">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ShortName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ShortName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.AccountType)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.AccountType)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ContactName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ContactName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ContactGender)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ContactGender)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Birthdate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Birthdate)
                            </dd>
                        </dl>
                    </div>
                    <div class="columns col-md-6  crm-style">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.EMail)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.EMail)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Mobile)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Mobile)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.RegisterDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.RegisterDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Note)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Note)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.AccountOwner.UserName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.AccountOwner.UserName)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>



@section Scripts {
<script>
    $("#crm-accounts").addClass('active');
     function deleteAccount () {
        if (confirm("Are you sure to delete the Account?")) {
            $("#confirmForm").submit();
        }
    };
</script>
}